.yr {
  display: flex;
  top: 200px;
  position: relative;
  padding: 10px;
  margin: 20px;
  justify-content: space-between;
  text-align: center;
}
.formdates {
  padding: 15px;
  width: 380px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
/* .space {
  padding: 20px;
} */
